@tailwind base;
@layer base { 
      html { 
        @apply text-on-base; 
        overscroll-behavior: none;
      } 
}
@tailwind components;
@tailwind utilities;

.leaflet-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
