.testdiv {
    background-color: rgb(60, 60, 60);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.test {
    font-size: 10rem;
    font-weight: bold;
    color: white;
}

body {
    margin: 0;
}