.createTeamBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createTeamTitle {
    display: block;
}

.adjustTeamBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pickTeamColor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.teamName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}